@{
    ViewData["Title"] = "sc politica de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>En Santiago Conlago, valoramos tu privacidad y nos comprometemos a proteger tus datos personales. Esta política de privacidad explica cómo recopilamos, usamos y protegemos tu información.</p>
